{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-4">
        <div class="row py-3">
            <div class="col-sm-10">
                <h1>Idea list</h1>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="row py-3">
            <form>
                <input type="text" name="text" value="{{ text }}">
                <input type="submit" class="btn btn-primary" value="Search">
            </form>
        </div>
        {% if ideas|length %}
            <div class="list-group">
                {% for idea in ideas %}
                    {% include '/idea/_idea.html.twig' with { 'idea' : idea } %}
                {% endfor %}
            </div>
        {% else %}
            <p>There are no ideas.</p>
        {% endif %}
    </div>

    {% include '_pager.html.twig' with { 'thisPage': page, 'maxPages': maxPages, 'route': 'idea_list' } %}
{% endblock %}
