{% if maxPages > 1 %}
<ul class="pagination">
    <li {{ thisPage == 1 ? 'class="disabled"' }} class="page-item">
        <a href="{{ path(route, {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}" class="page-link">«</a>
    </li>

    {% for i in 1..maxPages %}
        <li {{ thisPage == i ? 'class="active"' }} class="page-item">
            <a href="{{ path(route, {page: i}) }}" class="page-link">{{ i }}</a>
        </li>
    {% endfor %}

    <li {{ thisPage == maxPages ? 'class="disabled"' }} class="page-item">
        <a href="{{ path(route, {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}" class="page-link">»</a>
    </li>
</ul>
{% endif %}
