<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="{{ url('main_index') }}">
            OpenRequest
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
            <!--<img src="//placehold.it/40?text=LOGO" alt="logo">-->
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="{{ url('idea_list') }}" class="nav-link m-2 menu-item nav-active">Ideas</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                    <a href="{{ url('user_hub') }}" class="nav-link m-2 menu-item nav-active">User hub</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('app_logout') }}" class="nav-link m-2 menu-item nav-active">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ url('app_login') }}" class="nav-link m-2 menu-item nav-active">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('user_register') }}" class="nav-link m-2 menu-item nav-active">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
