<div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
            {{ idea.title }}
        </h5>
        <span>
            <a class="btn btn-primary" href="{{ url('idea_edit', {'id': idea.id}) }}">Edit</a>
        </span>
    </div>
    <p class="mb-1">
        {{ idea.shortDescription }}
    </p>
</div>
