{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-4">
        <div class="row py-3">
            <div class="col-sm-10">
                <h1>User hub</h1>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary" href="{{ url('idea_new') }}">Add a new idea</a>
            </div>
        </div>
        {% if ideas|length %}
            <div class="user-idea-list">
                {% for idea in ideas %}
                    {% include '/user/_hub_idea.html.twig' with { 'idea' : idea } %}
                {% endfor %}
            </div>
        {% else %}
            <p>You don't have any ideas.</p>
        {% endif %}
    </div>
{% endblock %}
